/* TABLET */

@media (min-width: 740px) and (max-width: 1023px) {
    html {
        width: unset;
        height: unset;
    }
    #main {
        width: unset;
        height: unset;
    }
    button[value]:hover {
        opacity: unset;
    }
    button[name]:hover {
        opacity: unset;
    }
    button[value]:active {
        opacity: 0.8;
    }
    button[name]:active {
        opacity: 0.8;
    }
}


/* MOBILE */

@media (max-width: 740px) {
    html {
        height: unset;
        width: unset;
    }
    body {
        text-align: unset;
        width: unset;
        height: unset;
        display: inline-block;
    }
    #main {
        width: unset;
        height: unset;
    }
    button[value]:hover {
        opacity: unset;
    }
    button[name]:hover {
        opacity: unset;
    }
    button[value]:active {
        opacity: 0.8;
    }
    button[name]:active {
        opacity: 0.8;
    }
}