* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calculator {
    border: 0.5px solid #ccc;
}

button {
    width: 100px;
    cursor: pointer;
    font-size: 24px;
    color: #222222;
    padding: 18px 20px;
    outline: none;
    border: 0.1px solid #ccc;
}

button[value="AC"] {
    width: 200px;
    background: #dc2d3f;
    color: #fff;
}

button[value="DEL"] {
    background: #0680d7;
    color: #fff;
}

button[value="="] {
    background: #f27737;
    color: #ddd;
}

button[value="="]:hover {
    opacity: 0.8;
}

button[value]:hover {
    opacity: 0.8;
}

.squeeze {
    display: flex;
}


/* DISPLAY */

#calc-display {
    max-width: 400px;
    font-size: 64px;
    color: #fff;
    background: #222222;
    text-align: right;
    padding: 7px 5px 5px;
    border: 0.5px solid #ccc;
    overflow: auto;
}


/* KEY */

#calc-key {
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    background: grey;
}